.npc-stats-header-container {
    padding-bottom: 25px;
}

.npc-stats-header-container h1 {
    text-align: center;
}

.npc-stats-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    padding: 15px 25px;
}

.npc-stats-form-container > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.npc-stats-form-container > div > h1 {
    padding-top: 30px;
    padding-bottom: 25px;
}

.npc-stats-form-container > div > div > select {
    transform: scale(1.5);
    width: 150px;
}

.select-container {
    position: relative;
    width: 62%;
}

.npc-stats-form-container__skills-column > div > button {
    position: absolute;
    right: 0;
}

.npc-stats-form-container > div > div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.npc-stats-form-container > div > ul {
    padding-top: 30px;
    font-size: 150%;
    width: 40%;
    display: table;
}

.npc-stats-form-container > div > ul > li {
    text-align: center;
    list-style: none;
}

.npc-stats-form-container > div > ul img{
    max-height: 10px;
}

.npc-stats-form-container > div > ul > li > button {
    display: table-cell;
    vertical-align: middle;
    margin-left: 15px;
}

.npc-stats-form-container > div > div > h2 {
    width: 200px;
}

.npc-stats-form-container__skills-column > div > input {
    width: 200px;
    font-size: 150%;
}

/* .npc-stats-form-container__proficient-column input {
    transform: scale(1.5);
} */

.npc-stats-form-container label {
    font-size: 200%;
    font-weight: bold;
    padding-right: 20px;
}

.npc-stats-save {
    margin: 20px 42.5%;
    width: 15%;
    padding: 12.5px 37.5px;
    font-size: 125%;
}